<button (click)="showEntryComponent()">Click Me</button>
<app-sidebar *ngIf="flag"
           [message]="message"
           [lang] ="lang"
           (close)="onclose()">
          <content>
            <app-filter1></app-filter1>
          </content>
</app-sidebar> 

<button (click)="showEntryComponent2()">show filter2</button>
<app-sidebar *ngIf="flag2"
          [message]="message"
          [lang] ="lang"
          (close)="onclose2()">
         <content>
           <app-filter2></app-filter2>
         </content>  
         <!---<button>Fatma</button>
         <hr>
         <button>Omran</button>-->
         <!--<app-buttons-section></app-buttons-section>-->
</app-sidebar> 

<!---- Form for languages -----
<br><br>
<form (ngSubmit) = "onSubmit(f)" #f="ngForm" class="col-xs-6">
  <div class="form-group" class="col-xs-6">
    <label for="secret">Select Language</label>
    <select 
      id="secret" 
      class="form-control"
      name="secret"
      [ngModel]= "defaultLanguage"
      class="col-xs-6">
      <option value="EN">English</option>
      <option value="AR">Arabic</option>
    </select>
  </div>
  <button 
          class="btn btn-primary" 
          type="submit">Submit</button>
</form>
--------------------->

<!---- Change Language directly ----->
<br><br>
  <div class="col-xs-6">
    <label for="secret">Select Language</label>
    <select 
      id="secret" 
      class="form-control"
      name="secret"
      [(ngModel)]= "lang"
      class="col-xs-6">
      <option value="EN">English</option>
      <option value="AR">Arabic</option>
    </select>
  </div>

