<div class="backdrop" (click)="onClose()"></div>
<!--<div class="alert-box">-->
<div [ngClass]="(lang === 'AR')? 'alert-box2':'alert-box'"
     [@list2]= "state"
     (@list2.start)="animatedStarted($event)"
     (@list2.done)="animatedEnded($event)" >
  <!-- Content-->
  <div class="content scrollbar scrollbar-primary" id="test1">
    <ng-content select="content" class="force-overflow"></ng-content>
  </div>
  <!--<ng-content></ng-content>-->
  <!---- Button close-->
  <div class="alert-box-actions selectionTable" id="footer">
    <button class="btn btn-danger mx-1" (click)="resetForm()">
      Reset
    </button>
    <button class="btn btn-success mx-1" (click)="sendForm()">
      Send
    </button>
    <button class="btn btn-primary mx-1" (click)="onClose()">
      close
    </button>
  </div>
</div>

